body {
    font-family: arial;
    color: rgb(159, 226, 171);
    margin-inline-start: auto 10px auto;
    background-color: rgb(141, 180, 202);
}
div .answer {
    width: 100%;
    border-radius: 0;
    height: 200px;
}